<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |t| %>
    <li>
      <%= link_to t.title, task_path(t) %>
      <%= link_to "Edit", edit_task_path(t) %>
      <%= button_to "Delete", task_path(t), method: :delete, data: { 'turbo-confirm': "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "+ Add a New Task", new_task_path %>
